# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.venv/
env/
.env

# Data files
*.parquet
data/taxi_zones.zip
data/taxi_zones/

# Jupyter
.ipynb_checkpoints/

# Hopsworks certificates
hopsworks-certs/

# Models
*.pkl
models/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Poetry
poetry.toml